<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744162306944-8ldjun7ko55jks7j7aququbgcr84o12e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744162306944-8ldjun7ko55jks7j7aququbgcr84o12e</string>
	<key>API_KEY</key>
	<string>AIzaSyC7xP17hwrcd49_BqLsPLD2ztTkuJVfeg0</string>
	<key>GCM_SENDER_ID</key>
	<string>744162306944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ida.dinner</string>
	<key>PROJECT_ID</key>
	<string>dinner-b0806</string>
	<key>STORAGE_BUCKET</key>
	<string>dinner-b0806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744162306944:ios:a6187fb4050801bd52ef65</string>
</dict>
</plist>